# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# Database (will be created on deployment)
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db